.header-container {
  display: grid;
  /* grid-row: 6; */
  grid-template-columns: 4rem 2fr 2fr 2.2fr 2fr 1.6fr;
  /* width: 100%; */
  /* border: 1px solid black; */
}

.header-container p {
  border: 1px solid black;
  padding: 0.5rem 0;
  font-family: monospace;
  font-weight: 700;
  font-size: large;
  text-align: center;
}

.body-container {
  display: grid;
  /* grid-row: 6; */
  grid-template-columns: 4rem 2fr 2fr 2.2fr 2fr 1.6fr;
  border: 1px solid black;
}

.body-container div {
  border-right: 1px solid black;
  padding: 0.4rem;
}

.body-container div p {
  font-family: monospace;
  text-align: center;
}

.main_body_container {
  border: 1px solid black;
}
