.btncont {
  padding: 5px 1rem;
  display: flex;
  align-items: center;
  /* width: 80%; */
  background: rgb(127, 127, 238);
  border-radius: 10px;
  border: none;
}

.btncont a {
  font-size: x-small;
}
