<div class="container mt-4">
  <ng-template #loading>
    <p class="text-center">Loading data...</p>
  </ng-template>

  <div class="container">
    <table class="table table-bordered table-hover">
      <!-- Table Head -->
      <thead class="table-dark">
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Website</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <tr
          *ngFor="let user of userList; let i = index"
          style="cursor: pointer"
        >
          <td>{{ i + 1 }}</td>
          <td>
            <a
              [routerLink]="['/users', user.id]"
              class="text-primary text-decoration-none"
            >
              {{ user.name }}
            </a>
          </td>
          <td>
            <a
              [routerLink]="['/users', user.id]"
              class="text-primary text-decoration-none"
            >
              {{ user.username }}
            </a>
          </td>
          <td>
            <a
              [routerLink]="['/users', user.id]"
              class="text-primary text-decoration-none"
            >
              {{ user.email }}
            </a>
          </td>
          <td>
            <a
              [routerLink]="['/users', user.id]"
              class="text-primary text-decoration-none"
            >
              {{ user.phone }}
            </a>
          </td>
          <td>
            <a
              [routerLink]="['/users', user.id]"
              class="text-primary text-decoration-none"
            >
              {{ user.website }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- User Details Section -->
</div>
